@media only screen and (max-width: 720px) {
   ul {
       display: none;
       visibility: hidden;
   }

   .menu {
    display: block;
   }
   .nav-item {
       font-weight: 400 !important;
   }
}

@media only screen and (min-width: 721px) {
    #nav-menu span {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    
}

#nav-menu{
	cursor: pointer;
	padding: 0;
}
#nav-menu span , #nav-menu span:before , #nav-menu span:after{
    position: absolute;
    left: 20px;
	content: '';
	background: white;
	width: 20px;
	height: 1px;
	transition: all 500ms ease;
}
#nav-menu span:before{
    left: 0px;
	top: -6px;
}
#nav-menu span:after{
    left: 0px;
	bottom: -6px;
}

nav {
    height: 44px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.7);
    align-content: center;
    box-sizing: inherit;
    color:#f8f8f8;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(20px);
    position: fixed;
    width: 100%;

}

.menu-desplegable {
    transition: 0.8s;
    position: absolute;
    left: 00px;
    height: 100vh;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    
}

.quitar {
    transition: 0.5s;
    position: absolute;
    left: 00px;
    height: 44px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}


.menu-d-e {
    display: grid;
    position: absolute;
    top: 80px;
    left: -20px;
    margin: 0;
    visibility: visible;
    
}

.menu-d-e li {
    margin: 13px 0 25px 20px;
    padding-left: 1px;
    padding-bottom: 10px;
    border-bottom: .5px solid rgb(151, 151, 151);
    
}


nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1065px;
    height: 44px;
    padding: 0 40px;
    text-align-last: justify;
    box-sizing: inherit
}

nav div a {
    color: #f8f8f8;
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    list-style: none;
    font-weight: 300;
    font-size: 14px;
    padding-left:30px;
    padding-right: 30px;  
}

.nav-link {
    margin-right: auto;
    text-decoration: none;
    color: #f8f8f8;
    transition-duration: .3s;
}

.nav-link:hover {
    color: #c7c7c7;
}

nav div ul {
    margin-left: auto;
}

.oculto {
    display: none;
}